asgiref==3.11.1
Django==6.0.3
django-jazzmin==3.0.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.15
inflection==0.5.1
packaging==26.2
PyJWT==2.6.0
pytz==2026.1.post1
PyYAML==6.0.3
setuptools==80.10.2
shortuuid==1.0.13
sqlparse==0.5.5
tzdata==2025.3
uritemplate==4.2.0
wheel==0.47.0
